

.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 10vh;
    justify-content: center;
}

.navbar>li {
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
.navbar>li:hover{
    color: purple;
}
.app>div{
    height: 100%;
}

@media screen and (max-width:576px) {
    .navbar{
        height: fit-content;
    }
    .navbar>li{
        font-size: 15px;
    }
    
}